.nav {
    padding-bottom: 4rem;
    padding-top: 7rem;
    font-size: 2.2rem;
}
.into-text {
    font-weight: bold;
    font-size: 2.5rem;
    color: #000;
}
.nav > li {
    float: right;
    font-weight: bold;
    color: #6C7A89
}
a {
    color: #6C7A89
}
.nav > li:hover {
    color: #59ABE3;
}

.active > a{
    color: #59ABE3;
}
.heart {
    font-size: 500px;
}

.intro-text-row {
    padding-top: 0rem;
    padding-bottom: 8rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.work-item {
    font-weight: bold;
    font-size: 1.5rem;
}
.work {
    padding: 2rem;
}

.media {
    height: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.media-heading {
    padding-bottom: 1rem;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .25s;
    animation-duration: .25s;

}

.into-text {
    padding-top: 1rem;
}
.navbar {
    background-color: transparent;
}
.nav > ul {
    width: 100%;
    margin: auto;
}
.nav > li {
    width: 33.33333333%;
}
a:hover {
    color: #59ABE3;
}

.logoSmall {
    max-height: 200px;
    width: auto;
}

.about-container {
    padding-top: 1em;
}

.about-text {
    font-size: 2.7rem;
    font-weight: 550;
}
.crap {
    font-weight: bolder;
}

h1.about-text {
    font-size: 6rem;
    font-weight: 300;
}


.form-control {
    font-size: 2rem;
    font-weight: 300;

}
.btn {
    font-size: 2rem;
    font-weight: 300;

}
.footer {
    letter-spacing: 1rem;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

blockquote {

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


p {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.work-img {
    padding: 2rem;
    height: 10em;
}