.nav {
    padding-bottom: 4rem;
    padding-top: 7rem;
    font-size: 2.5rem;
}
.into-text {
    font-weight: bold;
    font-size: 2.3rem;
    color: #000;
}
h1.into-text {
    margin-bottom: 0rem;
}
h2.into-text {
    margin-top: 0rem;
}
.nav > li {
    float: right;
    font-weight: bold;
    color: #6C7A89
}
a {
    color: #6C7A89
}
.nav > li:hover {
    color: #59ABE3;
}

.active > a{
    color: #59ABE3;
}
.heart {
    font-size: 500px;
}

.intro-text-row {
    padding-top: 0rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.work-item {
    font-weight: bold;
    font-size: 1.5rem;
}


.media {
    height: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.media-heading {
    padding-bottom: 1rem;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .25s;
    animation-duration: .25s;

}

.into-text {
    padding-top: 1rem;
}
.navbar {
    background-color: transparent;
}
.nav > ul {
    width: 100%;
    margin: auto;
}
.nav > li {
    width: 33.33333333%;
}
a:hover {
    color: #59ABE3;
}

.logoSmall {
    max-height: 200px;
    width: auto;
}

.about-container {
    padding-top: 1em;
}

h2.about-text {
    font-size: 3rem;
}
.crap {
    font-weight: bolder;
}

h1.about-text {
    font-size: 6rem;
    font-weight: 300;
}


.form-control {
    font-size: 2rem;
    font-weight: 300;

}
.btn {
    font-size: 2rem;
    font-weight: 300;

}
.footer {
    letter-spacing: 1rem;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

blockquote {

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


p {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.work-img {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    border-bottom-color: transparent;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    width: 83%;
    height: 0;
    padding-bottom: 83%;
    opacity: 0;
    transition: .5s ease;
    background-color: #59ABE3;
    z-index: 999;
}

.overlay:hover {
    opacity: 1;
}
.overlay h4 {
    font-size: 2rem;
}
.text {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-primary {
    background-color: #59ABE3;
}

.btn-primary:hover {
    background-color: #5bbaf3;
}

#grayscale {
    margin-left: 1rem;
}

.juicer {
    height: 100%;
}
.heart {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.juicer-feed.modern li.feed-item {
    flex: auto;
}
.juicer-feed h1.referral a {
    color: transparent;
    font-size: 0px;
    visibility: hidden;
}